{{> head }}


    {{> navbar}}

    <div class="row">
        <div class="col-8">
            <h1> Titulo </h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem dolorum animi, architecto, necessitatibus nesciunt suscipit possimus velit amet est reprehenderit debitis deleniti magni? Nobis, ea unde? Officiis consequatur possimus ducimus.</p>
       
    </div>


     <div class="col-4">
         <img src="/assets/img/img.png" alt="img-thumbnail">
       
    </div>
    </div>
    {{> footer}}